.aboutMe{
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: var(--less-blackish);
    /*border-radius: 18px;*/
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    padding: 22px;
    /*border: 2px dotted var(--variable-color);*/
    transition: height 0.5s ease;
    position: relative;
}

.scrollable{
    height: 71.5vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.scroll-snap-child {
    scroll-snap-align: start;

  }

.scrollable::-webkit-scrollbar{
    background-color: var(--less-blackish);
    border-radius: 8px;
}
.scrollable::-webkit-scrollbar-thumb{
    background-color: var(--variable-color);
    border-radius: 8px;
}

.aboutMe .cross-button{
    top: 0;
    font-size: 3rem;
    left: 96%;
    text-decoration: none;
}

.headingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingContainer h1{
    text-align: center;
    font-size: 4em;
    margin-bottom: 0px;
    margin-top: 0px;
}

.breakerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60%;
    margin-bottom: 10px;
}

.hr{
    width:40%;
    background-color: grey;
    outline: none;
    border: none;
    height: 1px;
}

/*
*
* Information Component style
*
*/

.info-grid{
    display: flex;
    margin-bottom: 120px;
}

.image-container{
    display: flex;
    /*background-image: url('../images/me.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;*/
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
    width: 60%;
}

.image-container img{
    object-fit: contain;
    width: 90%;
    height: 90%;
}

.infoContainer p{
    display: inline-block;
    width: 65%;
}

.detailedInfoContainer{
    display: grid;
    grid-template-columns: auto auto;
}

.detailedInfoContainer ul{
    list-style-type: none;
    padding:0px;
}

.detailedInfoContainer li{
    margin-bottom: 30px;
}

.resumeButton{
    width: 27%;
    height: 60px;
    font-size:1em;
    color: white;
    background-color: var(--variable-color);
    border: none;
    outline: none;
    transition: color 0.3s, border 0.3s, background-color 0.3s;
}

.resumeButton:hover{
    color: var(--variable-color);
    background-color: rgba(0,0,0,0.1);
}

.customLinks{
    text-decoration: none;
    color: var(--variable-color);
}

/*
*
* Education-Certificates Component style
*
*/

.card {
    /* Common styles for all components */
    border: 1px solid grey;
    background-color: rgb(37, 37, 37);
    display: inline-block;
    width: 85%;
    height: 100%;
}



.titleContainer{
    background-color: var(--blackish);
    padding: 20px 0px;
    border-bottom: 1px solid grey;
}

.first {
    position: absolute;
    width: 80%;
    left: 60px;
    top: 0px;
    z-index: 2;
    transition: top 0.5s ease, left 0.5s ease, z-index 0.5s ease,opacity 0.5s ease;
  }
  
  .second {
    position: absolute;
    width: 80%;
    left: 80px;
    top: -15px;
    z-index: 1;
    opacity: 0.6;
    transition: top 0.5s ease, left 0.5s ease, z-index 0.5s ease,opacity 0.5s ease;
  }
  
  .third {
    position: absolute;
    width: 80%;
    left: 100px;
    top: -30px;
    z-index: 0;
    opacity: 0.3;
    transition: top 0.5s ease, left 0.5s ease, z-index 0.5s ease,opacity 0.5s ease;
  }

/*
*
* Skills Component style
*
*/

.skillsContainer{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 0px;
}

.skillsList{
    list-style-type: none;
    margin-top: 0px;
    padding-left: 40px;
    font-size: 15px;
}

.skillsList h3{
    margin-bottom: 2px;
    margin-top: 15px;
}

.skillsList i{
    font-size: 15px;
    color: var(--variable-color);
}


/*
*
* Achivement Component style
*
*/

.achivements{
    display:flex;
    height: 500px;
}

.navigationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.navigationButton{
    width: 100%;
    height: 60px;
    padding-right: 60px;
    font-size: 1.2em;
    margin: 20px 40px 20px 0px;
    background-color: var(--less-blackish);
    text-align: left;
    color: grey;
    border: 1px solid grey;
    outline: none;
    padding-left: 10px;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s; 
}

.cardsContainer{
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 0px 40px;
    margin-left: 70px;
}



.title{
    margin: 0px;
    text-align: center;
    color: var(--variable-color);
}

.list{
    list-style-type: none;
    padding-left: 20px;
}

.list hr{
    width: 20%;
    margin-left:0px;
    margin-bottom: 40px;
    height: 2px;
    background-color: var(--variable-color);
    outline: none;
    border: none;
}

.list h2{
    font-size: large;
    margin-bottom: 30px;
}

