.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blackish);
    height: 120px;
    width:100%;

}

.navbar ul{
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    padding:0px;
}

.navbar li{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    transition: color 0.3s;
}

.links{
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.links:hover{
    color: var(--variable-color);
}

.active{
    color: var(--variable-color);
}