:root{
  --blackish: #000000;
  --less-blackish: rgb(37, 37, 37);
  --lowest-blackish: rgb(49, 49, 49);
  --variable-color: rgb(250, 91, 15);
  --variable-color-opacity: rgba(19, 8, 8, 0.774);
}

body {
  background-color: var(--blackish);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

